<div class="moveMe"></div>
<div class="container-fluid">
  <form>
    <div class="form-group col-xl-6">
      <label class="single-line" for="x">What do you want to hear?</label>
      <input [(ngModel)]="text" class="form-control" data-placement="top" data-toggle="tooltip" id="x" maxlength="10"
             placeholder="Maximum 50 characters" title="Maximum 50 characters" type="text" name="something">
      <p *ngIf="textIsEmptyOnSubmit" style="color: red">Text can not be empty!</p>
    </div>
    <div class="col-12" style="margin-top: 20px">
      <button class="btn btn-outline-secondary mb-2" (click)="toSpeech()"><i class="fa fa-file-audio-o"></i>
        to speech
      </button>
      <div *ngIf="loading" class="loader"></div>
    </div>
    <div class="col-12" style="margin-top: 20px">
      <audio controls="controls">
        <source type="audio/mp3/wav"/>
        Your browser does not support the audio element.
      </audio>
    </div>
  </form>
</div>

