.moveMe:hover {
  width: 500%;
}

.moveMe {
  width: 10%;
  height: 30px;
  transition: width 50s;
  background-repeat: repeat-x;
  height: 100px;
  margin: 20px 0;
  background-position: center;
  background-image: url('src/assets/img/2-removebg-preview.png');
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #05445E;
  border-radius: 80%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: sticky;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

