<h6 style="padding: 10px" class="text-center single-line">Play or delete items from your search history!</h6>

<div style="padding: 0 50px" class="row text-center">
  <div *ngFor="let h of historyObjectList" class="col-lg-4 col-md-6">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center single-line">
        {{h.text}}
        <span class="badge badge-secondary badge-pill">
          <i class="fa fa-play" (click)="playSpeech(h.file)"></i>
          <i class="fa fa-times" (click)="removeSpeech(h.text)"></i>
        </span>
      </li>
    </ul>
  </div>
  <audio style="display: none" controls="controls">
    <source type="audio/mp3/wav"/>
    Your browser does not support the audio element.
  </audio>
</div>
